.mat-toolbar{

    box-shadow: 1px 1px 5px;
    z-index: 0;

}

.mat-toolbar-row{
    padding: 0;
    height: 60px;
    min-height: 60px;
}

.mat-toolbar-multiple-rows{
    min-height: 60px;
}

.barra{
    position: fixed;
    top: 0px;
    right: 0px;
    left:0px;
    box-sizing: border-box;

  
}

.botonMenu{
    position: absolute;
    right:1px;
    display: none;
}

.elementosNav{

    margin:7px;
    cursor: pointer;
    font-size: medium;
}

span{
    margin-left:6px
}


span:hover{
    color:black
}

.slogan{
    font-size: 12px;
    position: absolute;
    right: 35px;
    padding: 0px;
}

.logoBarra{

    position: absolute;
    right: 260px;
    top:8px

}







@media (max-width: 750px) {
    
    .botonMenu {
        position: absolute;
        right:1px;
        display: inline-block;
   
    }

    .navegacionMenu{
        display: none;
    }

}


