<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="material-icons">
            settings_phone
            </span>
      <span> Contacte al 15-2158-3030,  Llamanos o escribinos por whatsapp</span>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
        <span class="material-icons">
            contact_mail
            </span>
      <span>Mandanos un mail a srueda@cloveranalytica.com</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  

  </mat-toolbar>