<br>

<div class="cajaCards">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Aplicaciones web</mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/compus.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
        En Clover Analytica somos especialestas en el desarrollo de aplicaciones web para empresas.
        Nuestro novedoso sistema creativo te garantiza que construiremos una aplicación web adaptadas a la situación actual y necesidad futura de tu empresa.
        Cuidamos de cada detalle, e incorporamos todo lo necesario para producir una excelente presentación de tu negocio en Internet.
          </p>
        </mat-card-content>
          <br>
      </mat-card>
     
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Apps para celular</mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/celular.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
        Desarrollamos aplicaciones para celular a medida.
            Utiliza una aplicación para fidelizar clientes con contenido innovador, promociones, atención personalizada y push notifications con novedades.
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>VER MAS</button>
        </mat-card-actions> -->
        <br>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Soluciones Digitales</mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/ideas.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Contacte con nosotros, contanos sobre tus problemas y procesos en la empresa. Te ayudamos a buscar Soluciones
            con la utilizacion de la tecnología. Buscamos que ahorres tiempos y costos.
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>VER MAS</button>
        </mat-card-actions> -->
        <br>
      </mat-card>

</div>

<br>

<button (click)="open()" mat-raised-button color="primary">CONOCE MÁS!</button>



<br>


